div.title {
  text-align: center;
  font-family: Gill Sans, sans-serif;
  font-size: 40px;
  padding: 30px 30px 20px 30px;
  font-weight: 500;
  color: #CF9A92;
  letter-spacing: 10px;
}

div.clothes_menu{
  text-align: center;
}

div.clothes_menu a {
  display: inline;
  color: #CF9A92;
  text-decoration: none;
  padding-left: 10px;
  font-family: Gill Sans, sans-serif;
  font-size: 20px;
  font-weight: 300;
}

img.clothes_item_image {
  padding-left:20px;
  padding-right: 20px;
  padding-top: 20px;
  display:inline;
  object-fit: cover;
}

img.header {
  display: inline;
}

p.item_description {
  line-height: 0px;
}

figure.fig_item{
  margin: 0;
  text-align: left;
  display: inline-block;
  padding-bottom: 35px;
}
figcaption {
  padding-left: 20px;
  font-family: Gill Sans, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

p.inline_p_fig{
  display: inline;
  color: #FF7171;
  padding-left: 5px;
}

div.footer{
  text-align: center;
  width: 100%;
  height: 300px;
}

img.image_on_description_page{
  height: 520px;
  weight: 420px;
}

div.image{
  display: inline;
}

div.description_group{
  font-family: Gill Sans, sans-serif;
  width: 400px;
  margin-left: 20px;
  position: absolute;
  display: inline;
  text-align: left;
}

p.item_header{
  font-size: 30px;
  line-height: 0px;
}
p.item_price{
  line-height: 0px;
  font-size: 25px;
  font-weight: 500;
}
p.item_description_text{

}
button{
  color: white;
  font-size: 15px;
  font-family: Gill Sans, sans-serif;
  height: 50px;
  width: 120px;
  background-color: #CF9A92;
  border-radius: 5px;
  border: none;
}

div.image_preview img{
  display: block;
  height: 90px;
  width: 85px;
}
div.image_preview{
  display: inline-block;
}
p{
  line-height: 0px;
}
div.content{
  position: absolute;
  display: block;
  right: 20%;
  top: 20%;
  margin-right: 25%;

}
img.padding{
  padding: 3px;
}

a{
  text-decoration: none;
  color: black;
}
